[data-icon]:before {
  font-family: "main" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "main" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-approve-invoice:before {
  content: "\61";
}
.icon-discount:before {
  content: "\62";
}
.icon-location-pointer:before {
  content: "\63";
}
.icon-phone-call:before {
  content: "\64";
}
.icon-safe-box:before {
  content: "\65";
}
.icon-truck:before {
  content: "\66";
}
